/* TOKENS-COLOR-BASE */

$color-white: #ffffff;
$color-gray-25: #f0f2f5;
$color-gray-50: #f9f9f9;
$color-gray-150: #e8e8e8;
$color-gray-500: #595959;
$color-gray-600: #262626;
$color-gray-900: #262626;

$color-red-100: #ffccc7;
$color-red-500: #f5222d;
$color-red-600: #9b2c2c;

$color-transparent: transparent;
